* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 400px;
  margin: 10vh auto 0 auto;
  box-shadow: 0px 0px 45px 15px rgb(34, 21, 13);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
h1 {
  font-size: 2.5rem;
  text-align: center;
  color: rgb(247, 85, 4);
  background-color: rgb(8, 8, 8);
}
.calculator {
  flex: 0 0 1;
}
.screen {
  width: 100%;
  font-size: 5rem;
  padding: 0.5rem;
  background: rgb(41, 41, 56);
  color: white;
  border: none;
  text-align: right;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s linear;
}

button {
  flex: 0 0 25%;
  border: 1px solid black;
  padding: 0.25rem 0;
  transition: all 2s ease;
}
button:hover {
  background: blue;
}
.btn-yellow {
  background: rgb(245, 146, 62);
  color: white;
}
.btn-grey {
  background: rgb(63, 59, 59);
}
.btn,
.btn-equal,
.btn-clear {
  font-size: 3rem;
}
.btn-equal {
  background: green;
  flex-basis: 200px;
}
.btn-clear {
  background: red;
}
